*{
    margin:0px;
    padding:0px;
}


nav{
    text-align: center;
    margin-top: 15px;
}

nav h3{
    display:inline-block;
    margin: 12px;
    font-size: 22px;
    padding:10px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: all 0.4 linear
}

nav h3 a{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

nav h3:hover{
    transform:scale(1.1);
    border:1px solid black;
    box-shadow:rgb(38,57,77)0px 20px 30px-10px;
}
.parent{
    width:100%;
    height:100vh;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.child{
    width: 480px;
    height: 70px;
    border-radius: 30px;
background-color: burlywood;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all 0.3s linear;
}


.child a{
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.child:hover{
    transform:translateY(-10%);
    border:1px solid white;
    background-color: cornflowerblue;

}